/* backgdr-col #E5E5E5, #F5F4FA;
backgdr-col head #fff
цвет осн текста #757575
active col #2196F3
фон героя и футера #2F303A
фон сеекции #F5F4FA 
*/

/* header start */
.logo {
  color: #000000;
}
.logo-part {
  color: var(--accent-color);
}
.site-nav .link {
  color: #212121;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.contacts .link {
  color: var(--primary-text-color);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
/* Hero sect start */
.hero .btn {
  color: #ffffff;
  background-color: var(--accent-color);
}
/* Benefits */
.benefits .title {
  color: var(--title-text-color);
}
.benefits .inform {
  color: var(--primary-text-color);
}
/* Our-team */
.our-team .title {
  color: var(--title-text-color);
}
.our-team .inform {
  color: var(--primary-text-color);
}
/* Menu */
.menu .btn {
  color: #212121;
  background-color: #f5f4fa;
}
.menu .btn:hover,
.menu .btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
/* Catalog */
.catalog .title {
  color: var(--title-text-color);
}
.catalog .inform {
  color: var(--primary-text-color);
}
/* button */
